a {
    color: #fff;
}

body {
    color: #333;
}

.content {
    margin-left: 10%;
    z-index: 2;
    align-items: flex-start;
}

.content h2 {
    margin: 0px;
    padding: 0px;
}

footer-career {
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    margin-left: 5%;
    width: 90%;
}

footer-career img {
    margin-right: 7px;
    width: 18px;
}

footer-career ul {
    padding: 0px;
}

footer-career li {
    list-style-type: none;
}

@media screen and (max-height: 900px) {


    .content {
        font-size: 1.3rem;
        line-height: 1.3rem;
    }

    footer-career {
        font-size: 1rem;
    }

    footer-career a {
        font-size: 1rem;
    }

    footer-career img {
        margin-right: 7px;
        width: 18px;
    }

    .link_underline {
        text-decoration: underline;
    }
