a {
    color: #333;
}

body {
    color: #333;
}

section {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 10%;
}

section img {
    width: 250px;
}

section table {
    /*    width: 950px;*/
    width: 90%;
    margin-bottom: 35px;
}


@media screen and (max-height: 768px) {

    footer {
        font-size: 1rem;
    }

    footer a {
        font-size: 1rem;
    }

    footer img {
        margin-right: 4px;
        width: 13px;
    }
