a {
    color: #333;
}

body {
    color: #333;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.content li {
    list-style-type: none;
}

.content img {
    margin-right: 7px;
    width: 18px;
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.chief {
    margin-left: 25px;
}

.chief td {
    padding: 25px;
    vertical-align: top;
}

@media screen and (max-height: 768px) {
    footer {
        font-size: 1rem;
    }

    footer a {
        font-size: 1rem;
    }

    footer img {
        margin-right: 4px;
        width: 13px;
    }

    .content img {
        margin-right: 4px;
        width: 13px;
    }
