a {
    color: #fff;
}

body {
    color: #fff;
    background-color: #444;
}

header {
    background-image: url(../images/history/bg11.jpg);
}

.content h2 {
    margin: 0px;
    padding: 0px;

}

.container-2 {
    margin-top: 50px;
    width: 60%;
    margin-left: 20%
}

@media screen and (max-height: 768px) {


    .content {
        font-size: 1rem;
        line-height: 1.3rem;
    }

    .link_underline {
        text-decoration: underline;
    }
