a {
    color: #333;
}

body {
    color: #333;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

section table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 25px;
}

section td {
    border: 1px solid black;
    padding: 10px;
}

section th {
    border: 1px solid black;
    padding: 10px;
}

@media screen and (max-height: 768px) {


    footer {
        font-size: 1rem;
    }

    footer a {
        font-size: 1rem;
    }

    footer img {
        margin-right: 7px;
        width: 18px;
    }
